<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Manager</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>
<body class="home-body">
    <div class="container">
        <h1>Welcome to Smart Traffic Management</h1>
        <form action="/map" method="get">
            <button type="submit">
                Get Started
            </button>
        </form>
    </div>
</body>
</html>