<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Manager</title>
</head>
<body>
    <form action="/dashboard" method="get">
        <button type="submit">
            Get Started
        </button>
    </form>
</body>
</html>