<!-- in this doucment i will merger google map api and in another file i will write dijekstra's
 algorithm for finding optimum route in google map api i want just traffic detail and 
 distatnce and based on that we will show a optimum path
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic manager</title>
</head>
<body>
</body>
</html>